<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <!--設置IE兼容模式(什麼版本IE 就用什麼版本的標準模式)-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <!--integrity: 用於驗證，防止內容被篡改-->
    <!--crossorigin: 獲取CORS請求(跨來源資源共用))-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>

<body>
    <div id="app">
        <div class="container">
            <!--用text-end讓新增產品按鈕從右邊開始排列-->
            <div class="text-end mt-4">
                <!--以openModal('new')觸發該發法中「新增商品」的功能-->
                <button class="btn btn-primary" @click="openModal('new')">
                    建立新的產品
                </button>
            </div>
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th width="120">
                            分類
                        </th>
                        <th width="480">
                            產品名稱    
                        </th>
                        <th width="120">
                            原價
                        </th>
                        <th width="120">
                            售價
                        </th>
                        <th width="100">
                            是否啟用
                        </th>
                        <th width="120">
                            編輯
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item) in products" :key="item.id">
                        <td>{{ item.category }}</td>
                        <td>{{ item.title }}</td>
                        <td>
                            {{ item.origin_price }}
                        </td>
                        <td>
                            {{ item.price }}
                        </td>
                        <td>
                            <span v-if="item.is_enabled" class="text-success">啟用</span>
                            <span v-else>未啟用</span>
                        </td>
                        <td>
                            <div class="btn-group">
                                <!--以openModal('edit')觸發該發法中「修改商品」的功能-->
                                <button type="button" class="btn btn-outline-primary btn-sm"
                                    @click="openModal('edit', item)">
                                    編輯
                                </button>
                                <!--以openModal('delete')觸發該發法中「刪除商品」的功能-->
                                <button type="button" class="btn btn-outline-danger btn-sm"
                                    @click="openModal('delete', item)">
                                    刪除
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--Modal (彈窗設定)-->
        <!--Bottstrap試用說明參考：https://getbootstrap.com/docs/5.0/components/modal/-->
        <div id="productModal" ref="productModal" class="modal fade" tabindex="-1" aria-labelledby="productModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content border-0">
                    <div class="modal-header bg-dark text-white">
                        <h5 id="productModalLabel" class="modal-title">
                            <span v-if="isNew">新增產品</span>
                            <span v-else>編輯產品</span>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label for="imageUrl" class="form-label">主要圖片</label>
                                    <input v-model="tempProduct.imageUrl" type="text" class="form-control mb-2"
                                        placeholder="請輸入圖片連結">
                                    <!--"img-fluid"為bootstrap語法-->
                                    <!--功能為「設定響應式圖片」。運用 max-width: 100%; 和 height: auto;，讓圖片可依父元素進行縮放。-->
                                    <img class="img-fluid" :src="tempProduct.imageUrl">
                                </div>
                                <h3 class="mb-3">多圖新增</h3>
                                <!--多圖對應的是tempProduct.imagesUrl中的內容(陣列)，因此以「Array.isArray(tempProduct.imagesUrl)」進行內部資料的操作-->
                                <!--使用Array.isArray的原因：沒有陣列這個型別！！因此用此來判斷與操作陣列內容-->
                                <div v-if="Array.isArray(tempProduct.imagesUrl)">
                                    <!--技巧：用v-for後要對應key值時，隨意加上一段東西確保其一定為唯一值-->
                                    <div class="mb-1" v-for="(image, key) in tempProduct.imagesUrl" :key="key">
                                        <div class="mb-3">
                                            <label for="imageUrl" class="form-label">圖片網址</label>
                                            <!--用tempProduct.imagesUrl[key]來確保對應到不同圖片-->
                                            <input v-model="tempProduct.imagesUrl[key]" type="text" class="form-control"
                                                placeholder="請輸入圖片連結">
                                        </div>
                                        <img class="img-fluid" :src="image">
                                    </div>
                                    <!--設定新增圖片的條件-->
                                    <!--條件1:「陣列中沒有內容時，即可新增下一個」= !tempProduct.imagesUrl.length-->
                                    <!--條件2:「陣列最後一格（陣列長度-1=最後一個格索引位置）有沒有內容，有內容時即可新增下一個」= tempProduct.imagesUrl[tempProduct.imagesUrl.length - 1]-->
                                    <div v-if="!tempProduct.imagesUrl.length || tempProduct.imagesUrl[tempProduct.imagesUrl.length - 1]">
                                        <button class="btn btn-outline-primary btn-sm d-block w-100" @click="tempProduct.imagesUrl.push('')">
                                            新增圖片
                                        </button>
                                    </div>
                                    <!--新增與刪除附圖按鈕-->
                                    <!--用.pop()來刪除最後一個陣列中資料，.push()來新增一個資料進陣列-->
                                    <!--此處新增部分寫進createImages方法中-->
                                    <div v-else>
                                        <button class="btn btn-outline-danger btn-sm d-block w-100" @click="tempProduct.imagesUrl.pop()">
                                            刪除圖片
                                        </button>
                                    </div>
                                </div>
                                <div v-else>
                                    <button class="btn btn-outline-primary btn-sm d-block w-100" @click="createImages">
                                        新增圖片
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="mb-3">
                                    <label for="title" class="form-label">標題</label>
                                    <input id="title" v-model="tempProduct.title" type="text" class="form-control"
                                        placeholder="請輸入標題">
                                </div>

                                <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <label for="category" class="form-label">分類</label>
                                        <input id="category" v-model="tempProduct.category" type="text"
                                            class="form-control" placeholder="請輸入分類">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="price" class="form-label">單位</label>
                                        <input id="unit" v-model="tempProduct.unit" type="text" class="form-control"
                                            placeholder="請輸入單位">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <label for="origin_price" class="form-label">原價</label>
                                        <!--要綁type是number的資料，v-model要記得加.number-->
                                        <input id="origin_price" v-model.number="tempProduct.origin_price" type="number"
                                            min="0" class="form-control" placeholder="請輸入原價">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="price" class="form-label">售價</label>
                                        <!--要綁type是number的資料，v-model要記得加.number-->
                                        <input id="price" v-model.number="tempProduct.price" type="number" min="0"
                                            class="form-control" placeholder="請輸入售價">
                                    </div>
                                </div>

                                <hr>

                                <div class="mb-3">
                                    <label for="description" class="form-label">產品描述</label>
                                    <textarea id="description" v-model="tempProduct.description" type="text"
                                        class="form-control" placeholder="請輸入產品描述">
                                    </textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="content" class="form-label">說明內容</label>
                                    <textarea id="description" v-model="tempProduct.content" type="text"
                                        class="form-control" placeholder="請輸入說明內容">
                                    </textarea>
                                </div>
                                <div class="mb-3">
                                    <div class="form-check">
                                        <!--用「:true-value="1"」、「:false-value="0"」來將true/flase代換成1/0-->
                                        <input id="is_enabled" v-model="tempProduct.is_enabled" class="form-check-input"
                                            type="checkbox" :true-value="1" :false-value="0">
                                        <label class="form-check-label" for="is_enabled">是否啟用</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--modal footer（最底下確認與取消鈕）-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            取消
                        </button>
                        <!--點擊確認按鈕後觸發updateProduct方法-->
                        <button type="button" class="btn btn-primary" @click="updateProduct">
                            確認
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--mounted-->
        <div id="delProductModal" ref="delProductModal" class="modal fade" tabindex="-1"
            aria-labelledby="delProductModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content border-0">
                    <div class="modal-header bg-danger text-white">
                        <h5 id="delProductModalLabel" class="modal-title">
                            <span>刪除產品</span>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        是否刪除
                        <strong class="text-danger">{{ tempProduct.title }}</strong> 商品(刪除後將無法恢復)。
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-danger" @click="delProduct">
                            確認刪除
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js'
        integrity='sha512-Xk3wWei2TGrsh9kDSBKUMIjw/86sLUvhtnv9f7fOuIwhhiUTKz8szkWkzHthrM5Bb3Bu9idSzkxOrkzhcneuiw=='
        crossorigin='anonymous'></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JavaScript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <script src="product.js" type="module"></script>
</body>

</html>